.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  background-color: gray;
  padding: 0 142px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 20px;
}

.text {
  font-size: 20px;
}
